@model InternationalGarage2_0.Models.ParkedVehicle

@{
    ViewData["Title"] = "Parked Vehicle Details";
}

<h1>Parked Vehicle Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicenseNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfWheels)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStampCheckIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeStampCheckIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStampCheckOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeStampCheckOut)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Check Out</a>
    <a class="btn btn-sm btn-primary" asp-action="ListGarage"><i class="fas fa-undo-alt"></i> Back to List Garage</a>
</div>
