@model InternationalGarage2_0.Models.ParkedVehicle

@{
    ViewData["Title"] = "Details";
}

@if (Model.Id == -1) // Ugly soultion for determining that the license is not found!
{<h2>License number @Html.DisplayFor(model => model.LicenseNumber) was not Found!</h2>}
else
{
    <h2>Details for License number: @Html.DisplayFor(model => model.LicenseNumber)</h2>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Color)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NumberOfWheels)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumberOfWheels)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TimeStampCheckIn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TimeStampCheckIn)
            </dd>
        </dl>
    </div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
