@model InternationalGarage2_0.Models.StatisticsViewModel

@{
    ViewData["Title"] = "Statistics";
}
<h1>Statistics</h1>

<div>
    <h4>Currently Parked Vehicles, Summary:</h4>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNumberOfWheels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalNumberOfWheels)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNumberOfParkedVehicles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalNumberOfParkedVehicles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentSumParkingFeesDisplay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentSumParkingFeesDisplay)
        </dd>
    </dl>
</div>
<div>
    <div>
        <a class="btn btn-sm btn-primary" asp-action="ListGarage"><i class="fas fa-undo-alt"></i> Back to List Garage</a>
    </div>
</div>
